
$primaryColor: #FF0000;
body {
  font-family: Verdana;
  font-size: 1.5em;
  h1 {
    color: $primaryColor;
  }
}

#team-members {
  clear: both;
  .member {
    float: left;
    /*border: 1px solid gray;*/
    margin: 10px;
    padding: 6px;
    .imageContainer {
      width: 200px;
      height: 200px;
      border-radius: 10px;
      box-shadow: 10px 10px 5px #888888;
      position: relative;
      overflow: hidden;
      z-index: 1;
      img {
        width: 200px;
        height: auto;
        border-radius: 10px;
        position: absolute;
        left: 0;
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transition: 1s ease-in-out;
        transition: 1s ease-in-out;
      }
    }
    .imageContainer:hover {
      img {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
      }
      img.originalImg {
        opacity: 0;
      }
    }
    div.name {
      padding-top: 10px;
      text-align: center;  
    }
  }
}